<?xml version="1.0" encoding="UTF-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="triggerToolPostManageWrite" type="controller" />
        <action name="triggerPublishObjectPublish" type="controller" />
        <action name="triggerProcUpgletylePostsave" type="controller" />

        <action name="procUpgletyle_plugin_daumviewUpdateConfig" type="controller" standalone="true" />
        <action name="syncDaumviewCategories" type="controller" />
        <action name="syncDaumview" type="controller" />
    </actions>
</module>
